body{
    font-family: TitiliumWeb-SemiBold;
    margin: 0;
    padding: 0;
    background-image:url(Program-ochrony-srodowiska-nature-3294632_1280-rys-annca-z-Pixabay-990x660.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(92, 255, 92);
    font-size: 20px;
    border: 2px solid rgb(61, 7, 7);
    border-radius: 50px;
    
}

@font-face {
    font-family:TitiliumWeb-SemiBold ;
    src: url(TitilliumWeb-SemiBold.ttf);
}
h1{
    text-align: center;
    color: darkorange;
    background-color:gray;
    opacity:60
}
